::-webkit-scrollbar {
    width: 5%;
}

::-webkit-scrollbar-thumb {
    background: rgb(140, 49, 182);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(81, 27, 106);
}

::-webkit-scrollbar-track {
    background: rgba(129, 129, 129, 0.641);
}