

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#himmelsgestein {
    animation: spin 10s linear infinite;
}

h1#comingSoonText {
    color: white;
}