

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0sdeg);
    }
}

.coming-soon {
    margin: 5%;
}

#coming-soon-img {
    animation: spin 3s ease-in-out infinite;
    max-width:25%;
    border-radius: 100%;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

h1#coming-soon-text {
    color: white;
}