.history {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.history-line {
    width: 80%;
    height: 0px;
    margin-top: 45px;
    margin-bottom: 25px;
    background-color: rgb(30, 30, 30);
    border-radius: 10em;
    border: 4px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
}

/* text parapraph */
.history-wrapper-text {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

    text-align: justify;
    font-size: 24px;
    font-weight: 300;
}
.history-text-left {
    transform: translateX(-16.667%);
}
.history-text-right {
    transform: translateX(16.667%);
}

/* ---------- Header ----------- */
.history-header {
    position: relative;
    height: 47em;
}
.history-header h1 {
    position: absolute;
    transform: translate(21em, 2.5em);

    width: 10em;

    padding: 10px 25px 15px 25px;
    border-radius: 50px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.history-header p {
    position: absolute;
    transform: translate(26em, 10em);

    width: 17.6em;

    text-align: center;
    font-size: 24px;
    font-weight: 300;

    padding: 30px 35px 35px 35px;
    border-radius: 50px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.history-header .history-telescope {
    position: absolute;
    max-width: 30em;
    transform: translate(90em, 2.5em);

    padding: 16px;
    border-radius: 100%;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.history-header .history-robot {
    position: absolute;
    max-width: 30em;
    transform: translate(10em, 8em);
}
.history-header .history-cloud {
    position: absolute;
    min-width: 100em;
    transform: translate(-22em, 32em);

    z-index:5;
}

/* icons */
.history-tower {
    position: absolute;
    left: -15em;
}
.history-plan {
    position: absolute;
    right: -15em;
}
.history-telescope {
    position: absolute;
    left: -15em;
}
.history-science {
    position: absolute;
    right: -15em;
}
.history-planet {
    position: absolute;
    left: -15em;
}
.history-humans {
    position: absolute;
    right: -15em;
}
.history-sky {
    position: absolute;
    left: -15em;
}