/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    margin: 0;
    background: rgb(30, 30, 30);
    overflow-x: hidden;
    color: #fff;
  }
 
  /* first section */
  .homepage-button-wrapper {
    position: absolute;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    transform: translateY(150%);
  }

  .homepage-button-left,
  .homepage-button-right {
    background: #e1d15a;
    color: rgb(30, 30, 30);
    position: relative;

    align-items: center;

    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 40px;
    border-radius: 100%;
    border: 6px solid #e1d15a;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.75),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }

  .homepage-button-left-img,
  .homepage-button-right-img {
    width:100%;
    height:100%;

    padding:0;
    margin: 0;
  }



  .header-image {
    color: white;
    text-align: left;

    background-size: 140%;

    width: auto;
  }

  .header-wrapper {
    padding: 5% 15% 25% 10%;
    width: 35%;

    background: linear-gradient(0.25turn, rgba(10, 10, 10, 0.75) 80%, rgba(30, 30, 30, 0));
  }

  .homepage-text-1 {
    position: absolute;
    left: 10%;
    opacity: 1;
    width: 666px;
    transition: ease-in-out 0.5s all;
  }

  .homepage-text-2 {
    position: absolute;
    left: 110%;
    opacity: 0;
    width: 666px;
    transition: ease-in-out 0.5s all;
  }

  .homepage-text-3 {
    position: absolute;
    left: -90%;
    opacity: 0;
    width: 666px;
    transition: ease-in-out 0.7s all;
  }

  .headline {
    color: white;
    text-align: left;
    font-size: 6vh;
    line-height: 90%;
    margin: 0 0 3vb 0;
  }

  .header-text {
    color: white;
    text-align: left;
    font-size: 2vh;
    padding: 0;
    margin: 1vb 0 0 0;
  }

  /* Deco */
  .clouds {position: absolute; top: calc(110vh);}
  .cloud-1 {
    position: absolute;
    transform: translate(-5%, -135%) scale(175%);
    z-index: 0;
  }
  .cloud-2 {
    position: absolute;
    transform: translate(67%, -115%) scale(200%);
    z-index: 2;
  }
  .cloud-3 {
    position: absolute;
    transform: translate(-15%, -105%) scale(175%);
    z-index: 1;
  }
  .cloud-4 {
    position: absolute;
    transform: translate(150%, -135%) scale(175%);
    z-index: 0;
  }
  .cloud-5 {
    position: absolute;
    transform: translate(125%, -110%) scale(200%);
    z-index: 0;
  }
  
  /* second section */
  .opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    color: #fff;
  }
  
  .time-table {
    width: max(450px, 20%); /* Adjust as required for your layout */
    border: 1px solid white;
    border-radius: 2vb;
  }
  
  .time-table th, .time-table td {
    width: 50%; /* Each cell takes up half the table's width */
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  
  /* Optional: Add this if you want to ensure the table headers are aligned with the table data */
  .time-table th {
    text-align: center;
  }
  

  .time-table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
  }
  
  /* third section */
  .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .card {
    width: calc(48% - 120px);
    border: 1px solid #ccc;
    margin-bottom: 20px;

    padding: 40px;
    border-radius: 20px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }


  