/* src/App.css */


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background: rgb(30, 30, 30);
    overflow-x: hidden;
    color: #fff;
  }
 
  /* first section */
  .header-image {
    color: white;
    text-align: left;

    background-image: url(../../assets/images/Planetarium_irl/planetarium_nacht.png);
    background-size: 140%;

    width: auto;
    height:auto;
  }

  .header-wrapper {
    padding: 5% 15% 25% 10%;
    width: 35%;

    background: linear-gradient(0.25turn, rgba(10, 10, 10, 0.75) 80%, rgba(30, 30, 30, 0));
  }

  .headline {
    color: white;
    text-align: left;
    font-size: 6vh;
    line-height: 90%;
    margin: 0 0 3vb 0;
  }

  .header-text {
    color: white;
    text-align: left;
    font-size: 2vh;
    padding: 0;
    margin: 1vb 0 0 0;
  }

  /* Deco */
  .clouds {position: absolute;}
  .cloud-1 {
    position: absolute;
    transform: translate(-5%, -135%) scale(175%);
    z-index: 0;
  }
  .cloud-2 {
    position: absolute;
    transform: translate(67%, -115%) scale(200%);
    z-index: 2;
  }
  .cloud-3 {
    position: absolute;
    transform: translate(-15%, -105%) scale(175%);
    z-index: 1;
  }
  .cloud-4 {
    position: absolute;
    transform: translate(150%, -135%) scale(175%);
    z-index: 0;
  }
  .cloud-5 {
    position: absolute;
    transform: translate(125%, -110%) scale(200%);
    z-index: 0;
  }
  
  /* second section */
  .opening-hours,
  .ticket-hotline {
    margin: 20px 0;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 48%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2vb;
  }
  
  .bottom-section {
    text-align: center;
  }
  
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .social-media {
    text-align: center;
    margin: 20px 0;
  }
  
  .social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  