/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    margin: 0;
    background: rgb(30, 30, 30);
    overflow-x: hidden;
    color: #fff;
  }
 
  /* first section */
  .homepage-button-wrapper {
    position: absolute;
    width: 92.5%;
    z-index: 1;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    transform: translateY(180%);
  }

  .homepage-button-left,
  .homepage-button-right {
    background: #e1d15a;
    color: rgb(30, 30, 30);
    position: relative;

    align-items: center;

    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 40px;
    border-radius: 100%;
    border: 6px solid #e1d15a;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.25), 5px 5px 15px rgba(0, 0, 0, 0.75),
    inset -5px -5px 15px rgba(255, 255, 255, 0.15), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }

  .homepage-button-left-img,
  .homepage-button-right-img {
    width:100%;
    height:100%;

    padding:0;
    margin: 0;
  }



  .header-image {
    color: white;
    text-align: left;

    background-size: 140%;

    width: auto;
    margin:2.5%;

    border-radius: 50px;
    border: 16px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.55),
    inset -5px -5px 15px rgba(255, 255, 255, 0.25), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.9);
  }

  .header-wrapper {
    position: relative;
    padding-right: 15%;
    padding-left: 10%;
    width: 35%;
    padding-top: 10%;
    z-index: 0;
    border-radius: 50px;
    background: linear-gradient(0.25turn, rgba(10, 10, 10, 0.75) 80%, rgba(30, 30, 30, 0));
  }

  .homepage-text-1 {
    position: absolute;
    top: 10%;
    left: 15%;
    opacity: 1;
    width: 666px;
    transition: ease-in-out 0.5s all;
  }

  .homepage-text-2 {
    position: absolute;
    left: 115%;
    top: 10%;
    opacity: 0;
    width: 666px;
    transition: ease-in-out 0.5s all;
  }

  .homepage-text-3 {
    position: absolute;
    left: -85%;
    top: 10%;
    opacity: 0;
    width: 666px;
    transition: ease-in-out 0.7s all;
  }

  .headline {
    color: white;
    text-align: left;
    font-size: 6vh;
    line-height: 90%;
    margin: 0 0 3vb 0;
  }

  .header-text {
    color: white;
    text-align: left;
    font-size: 2vh;
    padding: 0;
    margin: 1vb 0 0 0;
  }

  /* ---------- Deco ---------- */
  .clouds {position: absolute; top: calc(110vh);}
  .cloud-1 {
    position: absolute;
    transform: translate(-5%, -95%) scale(175%);
    z-index: 0;
  }
  .cloud-2 {
    position: absolute;
    transform: translate(67%, -75%) scale(200%);
    z-index: 2;
  }
  .cloud-3 {
    position: absolute;
    transform: translate(-15%, -65%) scale(175%);
    z-index: 1;
  }
  .cloud-4 {
    position: absolute;
    transform: translate(150%, -95%) scale(175%);
    z-index: 0;
  }
  .cloud-5 {
    position: absolute;
    transform: translate(125%, -50%) scale(200%);
    z-index: 0;
  }

  .home-earth {
    position: absolute;
    max-width: 25em;
    transform: translate(34em, 5em);
  }
  .home-uranus {
    position: absolute;
    max-width: 25em;
    transform: translate(-59em, 5em);
  }
  
  /* second section */
  .opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    color: #fff;
  }
  
  .time-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;

    padding: 40px;
    margin: 40px;
    border-radius: 20px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }
  .time-table-inner {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
  }
  .öffnungszeiten,
  .service {
    padding: 0px 40px 0px 40px;
    width: 25em;
  }
  .öffnungszeiten dl {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    font-size: large;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .service li {
    font-size: large;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    color:#e1d15a;
  }
  .service a {
    color: #fff;
    text-decoration: None;
    padding-left: 1em;
  }
  .service a:hover {
    text-decoration: underline;
  }
  
  /* third section */
  .cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    
  }
  
  .card {
    width: calc(38% - 120px);
    aspect-ratio: 1/1.2;
    border: 1px solid #ccc;
    margin-bottom: 20px;

    padding: 40px;
    border-radius: 20px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
  }

  .card a {
    color: #e1d15a
  }


  