.horoskope {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#haftungsausschluss {
    font-size: 1.5vh;
}