
.sign-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    margin: 5%
}

.sign-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    text-align: left;
    min-width:300px;

    padding: 40px;
    border-radius: 20px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.sign-container h2 {
    font-weight: bold;
    letter-spacing: 0.1em;
}

.sign-container .input-box {
    position: relative;
    width: 300px;
}
.sign-container .input-box input {
    padding: 12px 10px 12px 48px;
    border:none;
    width:80%;
    background: rgb(30, 30, 30);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 500;
    border-radius: 25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s ease-in-out;
    outline: none;
    position: relative;
    z-index: 2;
    background: transparent;
}

.sign-container .input-box span {
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    font-weight: 300;

    transition: 0.5s;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.sign-container .input-box input:valid,
.sign-container .input-box input:focus {
    border: 1px solid #e1d15a;
}
.sign-container .input-box input:valid ~ span,
.sign-container .input-box input:focus ~ span {
    color: #e1d15a;
    border: 1px solid #e1d15a;
    background: rgb(30, 30, 30);
    transform: translateX(25px) translateY(-5px);
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;;
}

.sign-container .input-box input[type="submit"] {
    background-color: #e1d15a;
    color: rgb(30, 30, 30);
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    font-weight: 900;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.sign-container p {
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.1em;
}

.sign-container a {
    color: #e1d15a;
}