
.space {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.space-wrapper p {
    text-align: justify;
}

/* space header */
.space-header {
    position: relative;
    width: 100%;
}
.space-header .crater {
    position: absolute;
    top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);;
}
.crater-1 {
    transform: translateX(-500%);
}


/* solar system */
.solar-system-img {
    min-width: 150%;
    transform: translateX(-20%);
}