/*
make animation on start that lets the component fly in from the bottom
*/

@keyframes slide_animation {
    /*
    Animation for when event-component-wrapper enters the view
    */
    from {
        transform: translate(-50%, 100%);
    }
    to {
        /*y -> 0%; x -> 50%*/
        transform: translate(-50%, 0%);
    }
}

#event-component-wrapper {
    position: relative;
    height: 400px;
    width: 900px;
    left: 50%;
    background: rgb(170, 170, 170);
    overflow: hidden;
    border-radius: 15px;

    animation: slide_animation ease-in-out;
    animation-range-start: -100px;
    animation-range-end: 300px;
    animation-timeline: view();

    transform: translate(-50%, 0%);

    gap: 20px;
    margin-top: 20px;
    
}


#event-image {
    position: absolute;
    left: 0px;
    height: 400px;
    width: 225px;
}

#event-title {
    margin: 0px;
    position: absolute;
    left: 225px;
    width: 675px;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    line-height: 72px;
}

#event-description {
    margin: 0px;
    position: absolute;
    left: 225px;
    top: 100px;
    width: 675px;
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
    line-height: 36px;
}

#event-date {
    margin: 0px;
    position: absolute;
    left: 235px;
    bottom: 10px;
    width: 675px;
    font-size: xx-large;
    font-weight: 600;
    text-align: left;
    line-height: 36px;
}

#buy-ticket {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 50px;
    width: 200px;
    background: rgb(46, 206, 56);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}

#buy-ticket:hover {
    background: rgb(56, 226, 66);
    color: white;
}

#buy-text {
    position: static;
    margin-left: 45px;
}


#ticket-icon {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 40px;
    margin: 0;
    color: #FFF;
}