/* wrappers */
.footer-wrapper {
    background-color: rgb(30, 30, 30);
    font-display: flex;
    flex-direction: column;
}
.social-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 20px;
}
.footer-moon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 125px;

    background: url(../../assets/images/Himmelssteine/moon-surface.png);
    background-size: cover;
}
.footer-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 125px;
}

/* elements */
@keyframes spin {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}
.footer-line {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;

    height: 0px;
    border-radius: 10em;
    border: 4px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.follow {
    color: #fff;
    margin-top: 0;
}
.planet {
    background-image: url(../../assets/images/Himmelssteine/Himmelgestein8.png);
    background-size: cover;
    border-radius: 100%;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    /*animation: spin 10s linear infinite;*/

    display:flex;
    align-items: center;
    justify-content: center;

    width:50px;
    height:50px;
    padding:20px;
}
.social-link {
    height:50px;
    width: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.social-logo {
    max-width: 100%;
    max-height: 100%;
}



.footer-button-wrapper {
    display: felx;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.footer-button {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.5), 5px 5px 15px rgba(0, 0, 0, 0.75);
    color:#fff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.1em;
    width:100%;
    padding: 25px;
    margin: 10px;
    text-decoration: None;
}
.footer-button-long {
    width: 100%;
}
  