/*get rid of the margin at the top of the page*/
h1 {
  margin: 0;
}

/* Add a black background color to the top navigation */
.wrapper {
  width: 100%;
  top: 0;

  background-color: hsl(0, 0%, 19%);
  overflow: hidden;

  align-items: last baseline;

  display: flex;
}

.logo {
  max-width: 250px;
  padding: 20px;
}

/* Style the links inside the navigation bar */
.wrapper .page-button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.wrapper .page-button:hover {
  background-color: hsl(0, 0%, 15%);
  transition: ease-out 0.7s;
  border-radius: 15px 15px 0 0;
}

.down {
  background-color: #e1d15a;
  height:10px;
  width: 100%;
}
