#horoskop-component-wrapper {

    width: 30vw;
    height: 25vh;

    border-radius: 25px;
    border: 8px solid rgb(30, 30, 30);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), 
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

#horoskop-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#left-border {
    width: 5px; /* Width of left border */
    background-color: blue; /* Color of left border */
    margin-right: 10px; /* Margin between border and content */
}

.zodiac-sign-image {
    width: 100px;
    height: 100px;
    top: 15px;
}